{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin/content">内容首页</a></li>
    <li><span>内容管理</span></li>
</ol>
<h3>内容添加</h3>
<form method="post" action="/admin/content/add">
    <div class="form-group">
        <label for="category">分类:</label>
        <select name="category" id="category" class="form-control">
            {% for category in categories %}
            <option value="{{category._id.toString()}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题:</label>
        <input type="text" class="form-control" id="title" placeholder="请输入分类名称" name="title">
    </div>
    <div class="form-group">
        <label for="description">简介:</label>
        <textarea type="text" class="form-control" id="description" placeholder="请输入内容简介" name="description" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="content">内容:</label>
        <!--加载容器内容-->
        <textarea type="text/plain" id="content" name="content" style="height:400px;width: 100%;"></textarea>
    </div>
    <input type="submit" class="btn btn-default" value="提交">
</form>
<!--配置文件-->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!--编辑器源码-->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!--国际化统一配置-->
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--实例化编辑器-->
<script type="text/javascript">
    var ue = UE.getEditor('content');
</script>
{% endblock %}