ol,ul,li,form {
    padding:0;
    border:0;
    margin: 0;
}
body {
    font-size: 16px!important;
    background: url('/img/bg.jpg');
}
body.read-song-font {
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
}
body.read-black-font {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
body,html,.container {
    height:100%;
}
ul,li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    color: #333;
}
textarea {
    resize: none;
}
/*链接样式*/
a:focus,a:hover {
    color: #696a52!important;
    text-decoration: none!important;
}
a {
    color: #333!important;
}
.focus {
    cursor: pointer;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*公共颜色*/
.blue {
    color: #39c;
}
/*margin padding border*/

.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.b-d-b {
    border-bottom: 1px dashed #000;
}
.b-s-l {
    border-left: 2px solid #ccc
}
/*右侧竖线*/
.vertical-line {
    border-right: 1px solid
}
/*弹性盒子*/
.flex-justify-b {
    display: flex;
    justify-content: space-between;
}
.flex-justify-a {
    display: flex;
    justify-content: space-around;
}
.flex-justify-c {
    display: flex;
    justify-content: center;
}
/*导航样式*/
.navbar-brand {
    margin: 0 16px;
}
.nav-menu li>a {
    border-bottom: 2px solid transparent;
}
.nav-menu li.active>a {
    background: none;
    border-bottom: 2px solid #f0ad4e;
}

.nav-menu li:hover a {
    border-bottom: 2px solid #f0ad4e;
}
/*首页查看更多*/
.readArticle a{
    color: #fff;
}
/*行内块元素*/
.dis-inline-block {
    display: inline-block;
}
/*字体*/
.font-small {
    font-size: 14px;
}
/*文本溢出省略*/
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
/*浮动*/
.f-r {
    float: right;
}
.f-l {
    float: left;
}
/*子元素左浮*/
.ch-f-l>*{
    float: left
}
/*面板样式*/
.panel {
    padding: 20px;
}
/*文章记录*/
.article-records li {
    padding: 5px;
}
/*绝对定位水平垂直居中*/
.row-col-center {
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*媒体查询*/
@media  screen and (max-width:992px) {
    html {
        font-size: 14px;
    }
}
@media  screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
}

/*过渡动画效果*/

.spinner {
    width: 60px;
    height: 60px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}