<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <title>鲍先森的博客</title>
    <script type="text/javascript" src="js/jquery-1.11.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<h1>欢迎来到我的博客<a href="/api/user/logout">注销</a></h1>
<div class="contaner">
    <ul class="navBar hide">
        <li>首页</li>
        <li>javascript</li>
        <li>node</li>
        <li>python</li>
        <li>java</li>
        <li>go</li>
    </ul>
</div>
    {% if user._id %}
    <div class="authentication admin">
        <h2>上午好！<span>{{user.username}}</span></h2>
        {% if user.isAdmin %}
        <h5>您是管理员点击<a href="/admin">这里</a>进入</h5>
        {% endif %}
    </div>
    {% else %}
    <div class="authentication login">
        <h2>登录</h2>
        <div class="col_warning"></div>
        <div class="input-group">
            <label>用户名:</label>
            <input type="text" name="username">
        </div>
        <div class="input-group">
            <label>密码:</label>
            <input type="text" name="password">
        </div>
        <input type="submit" value="登录" id="login">
        <h5>还没注册？<span class="blue focus go_regist">注册</span></h5>
    </div>
    <div class="authentication regist hide">
        <h2>注册</h2>
        <div class="col_warning"></div>
        <div class="input-group">
            <label>用户名:</label>
            <input type="text" name="username">
        </div>
        <div class="input-group">
            <label>密码:</label>
            <input type="text" name="password">
        </div>
        <div class="input-group">
            <label>确认密码:</label>
            <input type="text" name="repassword">
        </div>
        <input type="submit" value="注册" id="regist">
        <h5>已有账号？<span class="blue focus go_login">登录</span></h5>
    </div>
    {%  endif %}
</body>
</html>