<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <title>鲍先森的博客</title>
    <script type="text/javascript" src="/js/jquery-1.11.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body class="read-song-font" lang="zh-CN">
<h1>鲍磊的个人博客</h1>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if category == '' %}
            <a class="navbar-brand active" href="/">首页</a>
            {% else %}
            <a class="navbar-brand" href="/">首页</a>
            {% endif %}
            {% for cate in categories %}
                {% if category==cate._id.toString() %}
                <a class="navbar-brand active" href="/?category={{cate._id.toString()}}">{{cate.name}}</a>
                {% else %}
                <a class="navbar-brand" href="/?category={{cate._id.toString()}}">{{cate.name}}</a>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</nav>

<div class="container-fluid">
    {% block main %}{% endblock %}
</div>
</body>
</html>