<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <title>鲍先森的博客</title>
    <script type="text/javascript" src="/js/jquery-1.11.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom_Bmodal.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div class="container rel">
    <div class="authentication row-col-center regist">
        <h3>注册</h3>
        <div class="col_warning hide"></div>
        <div class="input-group has-error">
            <label>用户名:</label>
            <input type="text" name="username">
        </div>
        <div class="input-group">
            <label>密码:</label>
            <input type="password" name="password">
        </div>
        <div class="input-group">
            <label>确认密码:</label>
            <input type="password" name="repassword">
        </div>
        <input type="submit" value="注册" id="register">
        <h5>已有账号？<span class="blue focus go_login">登录</span></h5>
    </div>
</div>
</body>
</html>